@import url(./global/reset.css);
@import url(./global/header.css);
@import url(./Home/firstSection.css);
@import url(./Home/projects.css);
@import url(./Home/project-carousel.css);
@import url(./Home/services.css);
@import url(./Home/statements.css);
@import url(./Home/contact.css);
@import url(./Home/team.css);
@import url(./Home/clients.css);
@import url(./global/footer.css);
@import url(./global/modal-loading.css);
@import url(./global/modal-success.css);
@import url(./global/modal-error.css);
@import url(./global/sweet-alert.css);

.swiper {
  width: 100%;
  height: 300px;
  cursor: grab !important;
}

.swiper.swiper3 {
  height: auto;
}

/* estilos da intro  */
.intro {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-left: 60px;
  padding-top: 60px;
}

#particles {
  height: 100vh !important;
}

@media (max-width: 1560px) {
  #particles .pg-canvas {
    height: calc(100vh + 100px) !important;
    max-width: 100% !important;
  }
}

@media (max-width: 1220px) {
  .intro {
    padding-left: 20px;
    padding-top: 160px;
  }

  #particles .pg-canvas {
    height: calc(100vh) !important;
    max-width: 100% !important;
  }
}

@media (max-width: 624px) {
  #particles {
    height: 70vh;
  }
}
