.projects-content > h2.title {
  color: #b0cc49;
  font-family: 'Source Code Pro', monospace;
  font-size: 24px;
  font-weight: 300;
  background-color: #1f201c;
  border-radius: 17px;
  width: 202px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
}

.projects-content > span.sub-title {
  font-family: 'Source Code Pro', monospace;
  font-size: 54px;
  font-weight: 300;
  color: #cfd0cc;
  line-height: 1.2;
  max-width: 600px;
  display: block;
  margin-top: 31px;
  margin-bottom: 60px;
}

.projects-content {
  background-color: #131411;
  padding-top: 160px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 300px;
  position: relative;
}

.project-item {
  position: relative;
  background-color: #1f201c;
  border-radius: 44px;
  border: 2px solid #707070;
  padding: 20px;
  padding-bottom: 40px;
  max-width: 384px;
  min-height: 520px;
  margin-top: 60px;
}

.project-item div.icon-container {
  position: absolute;
  left: 65px;
  top: -45px;
}

.project-item div.icon-container img.icon {
  width: 113px;
  height: 113px;
  border-radius: 50%;
}

.project-pagination span {
  background-color: #5c5d5a;
  width: 16px;
  height: 16px;
}

.swiper3 {
  padding-bottom: 60px;
}

.project-pagination span.swiper-pagination-bullet-active {
  background-color: #b0cc49;
}

.project-item span.name {
  display: block;
  color: #cfd0cc;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.3;
  margin-bottom: 36px;
  margin-top: 100px;
}

.project-item span.name::after {
  content: '';
  display: block;
  margin-top: 4px;
  background-color: #6d6f66;
  width: 60px;
  height: 3px;
}

.projects-slides-navegations-button svg {
  fill: #b0cc49;
}

.projects-slides-navegations-button:hover svg {
  fill: #ffffff;
}

.project-item p.text {
  color: #cfd0cc;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 40px;
  max-width: 300px;
}

.project-item a.link {
  color: #b0cc49;
  font-size: 16px;
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  margin-top: 60px;
  max-width: max-content;
}

.project-item a.link:hover {
  transition: 0.2s;
  color: #ffffff;
}

@media (max-width: 1020px) {
  .projects-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 200px;
    position: relative;
  }

  .project-item span.name {
    font-size: 28px;
  }

  .project-item p.text {
    font-size: 14px;
  }

  .project-item {
    min-height: auto;
  }

  .project-item div.icon-container img.icon {
    width: 94px;
    height: 94px;
  }
}

@media (max-width: 769px) {
  .projects-content > span.sub-title {
    font-size: 42px;
    margin-top: 31px;
    margin-bottom: 0px;
  }

  .projects-content {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .projects-slides-navegations-button svg {
    width: 28px;
  }

  .projects-slides-navegations-button {
    margin-top: 60px;
  }

  .slide-navigations-products-flex {
    right: 20px !important;
    display: none;
  }

  .project-item {
    margin-top: 160px;
  }
}

@media (max-width: 600px) {
  .project-item {
    max-width: 100%;
  }

  .project-item span.name {
    font-size: 38px;
  }

  .project-item p.text {
    font-size: 16px;
    max-width: 100%;
  }
}
